In [1]:
def test(a,b) :
    """this is my function for concatination or addition or addition """
    return a + b

In [2]:
test(4,6)

10

In [3]:
test("himu ","balodi")

'himu balodi'

In [4]:
test(a=9 , b=6)

15

In [5]:
test(b= 45 , a =3)

48

In [6]:
print()

In [7]:
def test(a,b,c,d,e) :
    return a,b,c,d,e

In [8]:
test(3,4,5,6,7)

(3, 4, 5, 6, 7)

In [9]:
def test(*a) : # (*) = means I can provide any number  of a parameter that I looking for .
    return a

In [10]:
test(34,56)

(34, 56)

In [11]:
test(4,5,6,7)

(4, 5, 6, 7)

In [12]:
test(3,5,6,7,7,[4,5,7,8,6,7,8,9])

(3, 5, 6, 7, 7, [4, 5, 7, 8, 6, 7, 8, 9])

In [13]:
def test4(*args):
    return args

In [14]:
test4(34,56,6,78,7)

(34, 56, 6, 78, 7)

In [15]:
def test5(*a) :
    l = []
    for i in a :
        l.append(i)
    return l

In [16]:
test5(2,4,5,6,76,5,[443,5,6,75])

[2, 4, 5, 6, 76, 5, [443, 5, 6, 75]]

In [17]:
test5(4,5,6,7)

[4, 5, 6, 7]

In [18]:
def test6(a,b,c,d , *m):
    return a,b,c,d,m

In [19]:
test6(3,4,5,6,7,7,8,8)

(3, 4, 5, 6, (7, 7, 8, 8))

In [20]:
# specific data set.

In [21]:
def test7(*n,a,b,c,d,e):
    return n,a,b,c,d,e

In [22]:
test7(4,5,6,7,67,7,a = 65,b = 41,c = 3,d = 43,e = 45)

((4, 5, 6, 7, 67, 7), 65, 41, 3, 43, 45)

In [23]:
# key values data pass.

In [24]:
def test8(**himu): # (**) = means any number of [dict] key values pass it .
    return himu

In [25]:
test8(b=4,c=5,d=6,e=7,n=[3,4,5,6,7,8])

{'b': 4, 'c': 5, 'd': 6, 'e': 7, 'n': [3, 4, 5, 6, 7, 8]}

In [26]:
d ={'b': 4, 'c': 5, 'd': 6, 'e': 7}

In [27]:
test8(d)

TypeError: test8() takes 0 positional arguments but 1 was given

In [61]:
def test9(*m , **s) :
    return m , s

In [62]:
test9(345,45,65,76,8,65,434,b= 4,c= 5,d= 7,g= 8)

((345, 45, 65, 76, 8, 65, 434), {'b': 4, 'c': 5, 'd': 7, 'g': 8})

In [63]:
# sumation of all the intger.

In [64]:
def test10(*m):
    n=0
    for i in m:
        if type(i) == int :
            n = n+i
    return n

In [65]:
test10(2,3,4,5,565,43,33,556)

1211

In [66]:
test10(2,4,6)

12

In [67]:
# multipication of int values.

In [68]:
def test11(*m):
    n = 1
    for i in m :
        if type(i) == int :
            n = n*i
    return n

In [69]:
test11(4,5,6,6,7,87,8)

3507840

# lambda function

In [70]:
n = lambda a,b : a + b #  it is called anonymous function.

In [71]:
n(4,5)

9

In [72]:
def test5(a,b):
    return a + b

In [73]:
test5(4,5)

9

In [74]:
n(5,6)

11

In [75]:
b = lambda *himu : himu

In [76]:
b(45,6,6,45,564,34)

(45, 6, 6, 45, 564, 34)

In [77]:
# comprehension operation.

In [78]:
t = (3,4,4,5,5,6,67,7,7)
# convert list.
l = []
for i in t :
    l.append(i)

In [79]:
l

[3, 4, 4, 5, 5, 6, 67, 7, 7]

In [80]:
[i for i in t] # list comprehension

[3, 4, 4, 5, 5, 6, 67, 7, 7]

In [81]:
s = "himu"
# convert as a list.

In [82]:
[i for i in s]

['h', 'i', 'm', 'u']

In [83]:
# genret a number in squre of feet.

In [84]:
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [85]:
l = []
for i in range(10):
    l.append(i*i)

In [86]:
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [87]:
l = lambda *x : [i**2 for i in x]

In [88]:
l(4,45,5,6,6,7,8,89)

[16, 2025, 25, 36, 36, 49, 64, 7921]

In [89]:
test14(a = 7 , b = "himu" , c = 345 , d = "himu" , l = [2,3,4,45 ,"himu"])

{'a': 7, 'b': 'himu', 'c': 345, 'd': 'himu', 'l': [2, 3, 4, 45, 'himu']}
dict_values([7, 'himu', 345, 'himu', [2, 3, 4, 45, 'himu']])

3

In [57]:
def test14(**kwargs) :

In [90]:
def test14(**kwargs):
    count = 0
    print(kwargs)
    print(kwargs.values())
    for v in kwargs.values() :
        if type(v) == str or type(v) == str :
            count += 1
    return count

In [92]:
test14(a = 7 , b = "himu" , c = 345 , d = "himu" , l = [2,3,4,45 ,"himu"])

{'a': 7, 'b': 'himu', 'c': 345, 'd': 'himu', 'l': [2, 3, 4, 45, 'himu']}
dict_values([7, 'himu', 345, 'himu', [2, 3, 4, 45, 'himu']])

2

In [93]:
def test14(**kwargs):
    count = 0
    print(kwargs)
    print(kwargs.values())
    for v in kwargs.values():
        if type(v) == str or type(v) == list:
            count += 1
    return count

In [96]:
def test15(**kwargs) :
    return list(kwargs.values())

In [98]:
test15(a = 7 , b = "himu" , c = 345 , d = "himu" , l = [2,3,4,45 ,"himu"])

[7, 'himu', 345, 'himu', [2, 3, 4, 45, 'himu']]